.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}
#light {
  background-color: rgb(246, 246, 246);
}

#dark .nav {
  background-color: rgba(43, 55, 67, 255);
  color: white;
}
#dark {
  background-color: rgba(33, 46, 55, 255);
}
